<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lazinesssolutions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lazinesssolutions.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LazinessSolutions</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LazinessSolutions</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LazinessSolutionsEntities6" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Lazybones.Models.LazinessSolutionsEntities6, Lazybones" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LazinessSolutionsEntities4" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Lazybones.Models.LazinessSolutionsEntities4, Lazybones" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Lazybones.Models.ApplicationDbContext, Lazybones" MigrationConfiguration="Lazybones.Migrations.Configuration, Lazybones" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LazinessSolutionsEntities1" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;User ID=aleena;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LazinessSolutionsEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.User.csdl|res://*/Models.User.ssdl|res://*/Models.User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:atucktest.database.windows.net;initial catalog=LazinessSolutions;user id=aleena;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LazinessSolutionsEntities2" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LazinessSolutionsEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.UserInfo.csdl|res://*/Models.UserInfo.ssdl|res://*/Models.UserInfo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:atucktest.database.windows.net;initial catalog=LazinessSolutions;persist security info=True;user id=aleena;password=GCirc1570;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LazinessSolutionsEntities3" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LazinessSolutionsEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.JobModel.csdl|res://*/Models.JobModel.ssdl|res://*/Models.JobModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:atucktest.database.windows.net;initial catalog=LazinessSolutions;persist security info=True;user id=aleena;password=GCirc1570;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LazinessSolutionsEntities5" Order="7" Enabled="False">
          <Destination Path="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LazinessSolutionsEntities5_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.JobModel.csdl|res://*/Models.JobModel.ssdl|res://*/Models.JobModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:atucktest.database.windows.net;initial catalog=LazinessSolutions;persist security info=True;user id=aleena;password=GCirc1570;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LazinessSolutionsEntities" Order="8" Enabled="False">
          <Destination Path="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LazinessSolutionsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:atucktest.database.windows.net;initial catalog=LazinessSolutions;persist security info=True;user id=aleena;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LazinessSolutionsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LazinessSolutionsEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.User.csdl|res://*/Models.User.ssdl|res://*/Models.User.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LazinessSolutionsEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UserInfo.csdl|res://*/Models.UserInfo.ssdl|res://*/Models.UserInfo.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LazinessSolutionsEntities3-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.JobModel.csdl|res://*/Models.JobModel.ssdl|res://*/Models.JobModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LazinessSolutionsEntities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ProfileViewORM.csdl|res://*/Models.ProfileViewORM.ssdl|res://*/Models.ProfileViewORM.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LazinessSolutionsEntities5-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.JobModel.csdl|res://*/Models.JobModel.ssdl|res://*/Models.JobModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LazinessSolutionsEntities6-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.JobModel.csdl|res://*/Models.JobModel.ssdl|res://*/Models.JobModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:atucktest.database.windows.net;Initial Catalog=LazinessSolutions;Persist Security Info=True;User ID=aleena;Password=GCirc1570;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>