@{
    ViewBag.Title = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Shadows+Into+Light+Two" rel="stylesheet">
<section>
    <div class="topSection" style=" background-image: url(http://i.imgur.com/t2CiRly.jpg);
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-size:cover;">
    <h1 style="margin-top: 200px; text-align: center; color: #FFF; font-family: 'Shadows Into Light Two', cursive; font-size: 65px;">&nbsp;I really don't want to do this...&nbsp;</h1>
    <div style="margin-bottom: 185px; text-align: center; color: #FFF; font-size: 30px;">&nbsp; &nbsp; Using our platform, you can outsource any task, and get it done fast.</div>
    </div>

</section>
<section style="font-family: 'Didact Gothic', sans-serif;">
    <div class="row" style="margin-top: 475px;">
        <h1 style="text-align: center; font-family: 'Didact Gothic', sans-serif;">maybe your dirty clothes <em>can</em> wash themselves</h1>
        <br /> <br />
        <div class="col-md-4" style="text-align: center; font-family: 'Didact Gothic', sans-serif; padding: 25px;">
            <img src="http://i.imgur.com/Ao2FyeA.png" />
            <div style="margin-top: -60px; position: absolute; background-color: rgba(255, 255, 255, .75);">
                <h2>Live Like a Princess</h2>
                <p>
                    Do you dream of a life where you literally don't have to do anything for yourself? Indulge. Don't you dare lift a finger.  Unless you're using it to post a gig, that is.
                </p>
            </div>
        </div>
        <div class="col-md-4" style="text-align: center; font-family: 'Didact Gothic', sans-serif; padding: 25px;">
            <img src="http://i.imgur.com/b82qSZP.png" />
            <div style="margin-top: -60px; position: absolute; background-color: rgba(255, 255, 255, .75);">
                <h2>The World is Your Butler</h2>
                <p>If your hands are full, you need more hours in the day, or you just don't feel like putting on pants - there's an Alfred out there just waiting for a Master Bruce.</p>
                </div>
            </div>
        <div class="col-md-4" style="text-align: center; font-family: 'Didact Gothic', sans-serif; padding: 25px;">
            <img src="http://i.imgur.com/zRFy7p1.png" />
            <div style="margin-top: -60px; position: absolute; background-color: rgba(255, 255, 255, .75);">
                <h2>The Sky is the Limit</h2>
                <p>Achieve anything with minimal effort.  Put your one-upping cousin to shame with your accomplishments at the next family dinner. Finance your dreams by picking up gigs.</p>
            </div>
            </div>
    </div>
</section>
<section>
    
</section>
<section>
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'>
    </script>
    <div class='tableauPlaceholder' style='width: 100%; height: 655px; padding-top: 50px;'>
        <object class='tableauViz' width='100%' height='655' style='display: none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='site_root' value='' />
            <param name='name' value='TaskJeevesFront&#47;Sheet1' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='no' />
        </object>
    </div>
</section>
<section>
    
</section>
<hr />
<footer style="font-family: 'Didact Gothic', sans-serif;">
    <p>&copy; @DateTime.Now.Year Site powered by baby sloths</p>
</footer>